<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CSRI-maturity assessment tool</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/csri-icon.png"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <a href="/users/logout"><button type="button" tabindex="0" class="dropdown-item">Signout</button></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Deakin Detonator Cyber Defence-PG Squad
                                    </div>
                                    <div class="widget-subheading">
                                        Admin Account
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Dashboards</li>
                            <li>
                                <a href="index">

                                    CSRI
                                </a>
                            </li>
							<li class="app-sidebar__heading">Assessments Details</li>
                            <li>
                            <li>
                                <a href="JavaScript:Void(0);" class="mm-active">
                                    <i class="metismenu-icon"></i>
                                    Maturity Assessment
                                </a>
                            </li>
                            <li>


                            <li>
                                <a href="identify">
                                    <i class="metismenu-icon"></i>
                                    Identify
                                </a>
                            </li>
                            <li>
                                <a href="protect">
                                    <i class="metismenu-icon">
                                    </i>Protect
                                </a>
                            </li>
                            <li>
                                <a href="detect">
                                    <i class="">
                                    </i>Detect
                                </a>
                            </li>
                            <li>
                                <a href="respond">
                                    <i class="metismenu-icon">
                                    </i>Respond
                                </a>
                            </li>
                            <li>
                                <a href="recover">
                                    <i class="metismenu-icon">
                                    </i>Recover
                                </a>
                            </li>
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>Cyber Security Maturity Level Assessment</div>
                            </div>
                        </div>
                    </div>
                    <div class="row container-limited mb-3">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                            <h5 class="card-header"> Identify Phase </h5>
                            <div class="card-body">
                                 <b> Asset Management </b>
                                <div class="row container-limited">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">1. The ability to identify all organisational assets and maintain visibility along with monitoring them and maintaining proper documentation.</label>
                                            <label for="formGroupExampleInput"><i>Manage a central inventory of all IT assets. Conduct frequent audits to ensure the inventory is up to date. Incorporate network monitoring tools to determine the status of all devices and have detailed documentation of all assets connected to the corporate network.</i></label>
                                            <select class="form-control" id="i1" name="i1">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id1" /> Low
                                                <input type="radio" value="2" name="id1" />
                                                Medium
                                                <input type="radio" value="3" name="id1" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">2. A full record of organizations software and applications must be maintained.</label>
                                            <label for="formGroupExampleInput"><i>Conduct security assessment for all new software and review major updates before installing on production system. Maintain a detailed history of all installed software and perform security assessment and update them frequently.</i></label>
                                            <select class="form-control" id="i2" name="i2">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id2" /> Low
                                                <input type="radio" value="2" name="id2" />
                                                Medium
                                                <input type="radio" value="3" name="id2" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">3.Resources are prioritized and labelled based on their classification, criticality and business value.</label>
                                            <label for="formGroupExampleInput"><i>All the organizations resources must be identified, prioritized and labelled based on their business values and criticality.</i></label>
                                            <select class="form-control" id="i3" name="i3">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id3" /> Low
                                                <input type="radio" value="2" name="id3" />
                                                Medium
                                                <input type="radio" value="3" name="id3" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">4. Maintain an inventory of all sensitive
                                                information stored, processed, or transmitted by the organization's
                                                technology systems, including those located on-site or at a remote service
                                                provider.</label>
                                            <label for="formGroupExampleInput"><i>Inventory of all data storages, their
                                                    locations and the type of data kept in each location.</i></label>
                                            <select class="form-control" id="i4" name="i4">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id4" /> Low
                                                <input type="radio" value="2" name="id4" />
                                                Medium
                                                <input type="radio" value="3" name="id4" />
                                                High
                                            </div>
                                        </div>
                                        <hr>
                                        <b> Business Environment</b>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">1. Services of the organization are identified, prioritized and communicated along with assessment of the service dependency provided by the organization.</label>
                                            <label for="formGroupExampleInput"><i>Services that are critical for the organization’s operations and services have been identified and documented based on their priority and dependency factor.
                                                </i></label>
                                            <select class="form-control" id="i5" name="i5">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id5" /> Low
                                                <input type="radio" value="2" name="id5" />
                                                Medium
                                                <input type="radio" value="3" name="id5" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">2. Intrinsic dependencies pertaining to the organisation's mission, values, brand image, ethical and moral values are documented and understood. </label>
                                            <label for="formGroupExampleInput"><i>The identification of dependencies that are intrinsic to the organization’s reputation and values to be documented and understood.
                                                </i></label>
                                            <select class="form-control" id="i6" name="i6">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id6" /> Low
                                                <input type="radio" value="2" name="id6" />
                                                Medium
                                                <input type="radio" value="3" name="id6" />
                                                High
                                            </div>
                                        </div>
                                        <hr>
                                        <b> Governance </b>
                                            <div class="form-group">
                                            <label for="formGroupExampleInput2">1. A periodic review of security policies and procedures is undertaken, with clear roles, responsibilities and privileges outlined for each member of the organization. </label>
                                            <label for="formGroupExampleInput"><i> Conduct annual review of the policies in place and assign roles, responsibilities and privileges to staff accordingly. </i></label>
                                            <select class="form-control" id="i7" name="i7">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id7" /> Low
                                                <input type="radio" value="2" name="id7" />
                                                Medium
                                                <input type="radio" value="3" name="id7" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">2. A clear reporting line for security responsibilities is developed and assigning of access level hierarchy for members with cyber security roles. </label>
                                            <label for="formGroupExampleInput"><i>Establish and list details of staff with clearance level and security responsibilities in the organization. </i></label>
                                            <select class="form-control" id="i8" name="i8">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id8" /> Low
                                                <input type="radio" value="2" name="id8" />
                                                Medium
                                                <input type="radio" value="3" name="id8" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">3. Assessment of financial, legal and regulatory impacts to the organization are documented, in the case of a cyber event. </label>
                                            <label for="formGroupExampleInput"><i>Conduct an annual assessment outlining the impact of cyber events on the organisation.</i></label>
                                            <select class="form-control" id="i9" name="i9">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id9" /> Low
                                                <input type="radio" value="2" name="id9" />
                                                Medium
                                                <input type="radio" value="3" name="id9" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">4. Insurance policy is reviewed and updated on its inclusions and exclusions, based on the current market scenario.</label>
                                            <label for="formGroupExampleInput"><i>Conduct an annual assessment of all insurance policies.</i></label>
                                            <select class="form-control" id="i10" name="i10">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id10" /> Low
                                                <input type="radio" value="2" name="id10" />
                                                Medium
                                                <input type="radio" value="3" name="id10" />
                                                High
                                            </div>
                                        </div>
                                        <hr>
                                        <b> Risk Assessment </b>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">1. Internal and external threats are identified and documented. </label>
                                            <label for="formGroupExampleInput"><i> Conduct an annual review of internal and external threats. </i></label>
                                            <select class="form-control" id="i11" name="i11">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id11" /> Low
                                                <input type="radio" value="2" name="id11" />
                                                Medium
                                                <input type="radio" value="3" name="id11" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">2. Vulnerabilities for all assets are identified and documented. </label>
                                            <label for="formGroupExampleInput"><i>Vulnerabilities are assessed and documented prior to introducing new assets to the system. Conduct an annual review of all assets.</i></label>
                                            <select class="form-control" id="i12" name="i12">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id12" /> Low
                                                <input type="radio" value="2" name="id12" />
                                                Medium
                                                <input type="radio" value="3" name="id12" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">3. Potential cyber security risks and vulnerabilities of the organisation identified, with potential impacts and likelihoods defined.</label>
                                            <label for="formGroupExampleInput"><i>An annual cyber security risk assessment is undertaken.</i></label>
                                            <select class="form-control" id="i13" name="i13">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id13" /> Low
                                                <input type="radio" value="2" name="id13" />
                                                Medium
                                                <input type="radio" value="3" name="id13" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">4. Acceptable risk tolerance levels are communicated to related stakeholders.</label>
                                            <label for="formGroupExampleInput"><i>Report acceptable risk to stakeholders every three years.</i></label>
                                            <select class="form-control" id="i14" name="i14">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id14" /> Low
                                                <input type="radio" value="2" name="id14" />
                                                Medium
                                                <input type="radio" value="3" name="id14" />
                                                High
                                            </div>
                                        </div>
                                        <hr>
                                        <b> Risk Management Strategy </b>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">1. A risk rating process is documented.</label>
                                            <label for="formGroupExampleInput"><i>Conduct an annual review of risk rating.</i></label>
                                            <select class="form-control" id="i15" name="i15">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id15" /> Low
                                                <input type="radio" value="2" name="id15" />
                                                Medium
                                                <input type="radio" value="3" name="id15" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">2. Status of risk tolerance policy for critical infrastructure is identified.</label>
                                            <label for="formGroupExampleInput"><i>Annual review of critical infrastructure risk.</i></label>
                                            <select class="form-control" id="i16" name="i16">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id16" /> Low
                                                <input type="radio" value="2" name="id16" />
                                                Medium
                                                <input type="radio" value="3" name="id16" />
                                                High
                                            </div>
                                        </div>
                                        <hr>
                                        <b> Supply Chain Risk Management </b>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">1. Supply chain risk management processes have been developed and documented.</label>
                                            <label for="formGroupExampleInput"><i> Conduct an annual review of supply chain risk. </i></label>
                                            <select class="form-control" id="i17" name="i17">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id17" /> Low
                                                <input type="radio" value="2" name="id17" />
                                                Medium
                                                <input type="radio" value="3" name="id17" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">2. Documentation of all vendor software and hardware exists, with vendors contact details maintained.</label>
                                            <label for="formGroupExampleInput"><i>Conduct an annual review of vendor contact details. </i></label>
                                            <select class="form-control" id="i18" name="i18">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id18" /> Low
                                                <input type="radio" value="2" name="id18" />
                                                Medium
                                                <input type="radio" value="3" name="id18" />
                                                High
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">3. Suppliers, vendors and their services are assessed against the organisation's risk assessment process.</label>
											<label for="formGroupExampleInput"><i>Conduct annual assesment for the services provided by the vendors.</i></label>
                                            <select class="form-control" id="i19" name="i19">
                                                <option value="-1"> Select </option>
                                                <option value="0">Not implemented</option>
                                                <option value="1">Partially implemented </option>
                                                <option value="2">Fully Implemented</option>
                                            </select>
                                            <div class="selectOption">
                                                <label>Difficulty Level: </label>
                                                <input type="radio" value="1" checked name="id19" /> Low
                                                <input type="radio" value="2" name="id19" />
                                                Medium
                                                <input type="radio" value="3" name="id19" />
                                                High
                                            </div>
                                        </div>
                                        <div style="display: flex;" onclick="validateForm()">
                                            <a class="btn btn-primary" id="Next">Next</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
            <script src="js/jquery.min.js"></script>
        </div>
    </div>
    <script type="text/javascript" src="./assets/scripts/main.js"></script>
    <script>
       $('select').on('change', function (e) {
        if (this.options[this.selectedIndex].value == '0' || this.options[this.selectedIndex].value == '1') {
            this.nextElementSibling.style.display = 'block';
        } else {
            this.nextElementSibling.style.display = 'none';
        }

    })
    $("#Next").click(function (){
            var validationCheck = false;
            var selectBoxes = document.querySelectorAll("select");
            var objResult = {};
            for(var i =0; i<selectBoxes.length; i++){
                var element = selectBoxes[i];
                if (element.value == -1) {
                    element.className = "form-control selectorError";
                    validationCheck = true;

                }
                else {
                    element.className = "form-control";
                   objResult["i"+(i+1)] = element.value;
                }
            }

            if(validationCheck == true){
                alert("please update the required fields");
            }
            else {
                alert("Proceed to the next page");

              				var formData = {
              					'i1': $('#i1').val(),
              					'i2': $('#i2').val(),
              					'i3': $('#i3').val(),
              					'i4': $('#i4').val(),
              					'i5': $('#i5').val(),
              					'i6': $('#i6').val(),
              					'i7': $('#i7').val(),
              					'i8': $('#i8').val(),
              					'i9': $('#i9').val(),
              					'i10': $('#i10').val(),
              					'i11': $('#i11').val(),
              					'i12': $('#i12').val(),
              					'i13': $('#i13').val(),
              					'i14': $('#i14').val(),
              					'i15': $('#i15').val(),
              					'i16': $('#i16').val(),
              					'i17': $('#i17').val(),
              					'i18': $('#i18').val(),
              					'i19': $('#i19').val(),
              			    'id1':$("input[name=id1]:checked").val(),
                        'id2':$("input[name=id2]:checked").val(),
                        'id3':$("input[name=id3]:checked").val(),
                        'id4':$("input[name=id4]:checked").val(),
                        'id5':$("input[name=id5]:checked").val(),
                        'id6':$("input[name=id6]:checked").val(),
                        'id7':$("input[name=id7]:checked").val(),
                        'id8':$("input[name=id8]:checked").val(),
                        'id9':$("input[name=id9]:checked").val(),
                        'id10':$("input[name=id10]:checked").val(),
                        'id11':$("input[name=id11]:checked").val(),
                        'id12':$("input[name=id12]:checked").val(),
                        'id13':$("input[name=id13]:checked").val(),
                        'id14':$("input[name=id14]:checked").val(),
                        'id15':$("input[name=id15]:checked").val(),
                        'id16':$("input[name=id16]:checked").val(),
                        'id17':$("input[name=id17]:checked").val(),
                        'id18':$("input[name=id18]:checked").val(),
                        'id19':$("input[name=id19]:checked").val()
              				};
              				console.log(formData);
              				$.post("http://localhost:7000/api/identify", formData, function(response) {
              					if (response.error == undefined) {
              						console.log(response.response);
                                      window.location.href = "protect";
              					} else {
              						alert(response.error)
              					}
              				});
                      document.getElementById("Next").setAttribute("href","protect");
            }

        });

    </script>
</body>
</html>
